romeo-cli/*.o
romeo-cli/*.d
romeo-cli/parser.lex.cc
romeo-cli/parser.yacc.cc
romeo-cli/parser.yacc.hh
romeo-cli/parser.yacc.output
romeo-cli/location.hh
romeo-cli/position.hh
romeo-cli/stack.hh
romeo-cli/romeo-cli
romeo-cli/romeo-backward-tests
romeo-cli/tests/*.o
romeo-cli/tests/__pycache__/

